<div class='row'><br>
    <h2> Edit Bookmark </h2>
      <div class="col-md-8">
        <div class="col-md-8">
          <%= form_for [@bookmark.topic, @bookmark], method: "put" do |f| %>
            <div class="form-group">
              <%= f.label :url %>
              <%= f.text_field :url, class: 'form-control', placeholder: "Enter url" %>
            </div>
            <%= f.submit "Save", class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
</div>
