<div class='row'><br>
    <h2> Add Bookmark </h2>
      <div class="col-md-8">
        <%= form_for topic_bookmarks_path do |f| %>
          <div class="form-group">
            <%= f.text_field :url, class: 'form-control', placeholder: "Enter url" %>
          </div>
          <%= f.submit "Save", class: 'btn btn-success' %>
        <% end %>
      </div>
</div>
