<h1>Topics</h1>


<div class='row'>
  <div>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  </div>
  <br>
  <div class="col-md-8">
       <% @topics.each do |topic| %>
         <div class="media">
           <div class="media-body">
             <h3 class="media-heading">
               <%= link_to topic.title, topic %> <br>
               <%= link_to "Delete", [@user, topic], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete topic?"} %>
             </h3>
             <small> created
               <%= time_ago_in_words(topic.created_at) %> ago
             </small>
           </div>
         </div>
       <% end %>
  </div>
</div>
