
<div class="row"><br>
    <div class="col-md-8">
        <p class="lead">
          <%= @topic.title %>
          <%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-success' %>
        </p>
        <div>
        <%= render partial: 'bookmarks/list', locals: { topic: @topic } %>
        <div>
    </div>
</div>
