
<div class="row"><br>
    <div class="col-md-8">
        <p class="lead">
          <h2>
          <%= @topic.title %> <br>
        </h2>
          <%= link_to "Delete topic", [@topic], method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete topic?"} %>
          <%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-success' %>
        </p>
        <div>
        <%= render partial: 'bookmarks/list', locals: { topic: @topic } %>
        <div>
    </div>
</div>
